<div class="container">
  <h5>ジャンル編集</h5>
  <div class="row">
   <%= form_with model:@genre, url:'update', local:true do |f| %>
   <ul>
    <li>ジャンル</li>
    <li><%= f.text_field :genre_name %></li>
    <li class ="button"><%= f.submit "変更を保存", class: "button_green"%></li>
   </ul>
   <% end %>
  </div>
</div>