// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box1{
 width: 700px;
}
ul{
  list-style: none;
  display: flex;
}
li{
  margin-right: 20px;
}
.genre_title{
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  height: 50px;
}
.genre_title_bottom{
  border-bottom: 2px solid #d3d3d3;
}

.table_genre{
  width:250px;
}

.button_genre{
  height: 50px;
  color: white;
  border-radius: 7px;
  margin: 0 auto;

}