<div class="field form-group col-xs-10">
  <%= f.label :"メールアドレス", class: "col-md-5 control-label" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-8 form-control-static" %>
</div>

<div class="field form-group col-xs-10">
  <%= f.label :"パスワード", class: "col-md-5 control-label" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "col-md-8 form-control-static" %>
</div>