<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10'>
      <span class='bg-light ml-5'>注文情報確認</span>

      <div class='row'>
        <div class='col-md-9'>
      <table class='table table-bordered'>
        <thead class='active'>
          <tr>
            <th>商品名</th>
            <th>単価（税込み）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class='col-md-3'>
      <table class='table table-borderd'>
        <tbody>
          <tr>
            <th class='active'>送料</th>
            <td>800</td>
          </tr>
          <tr>
            <th class='active'>合計商品</th>
            <td></td>
          </tr>
          <tr>
            <th class='active'>請求金額</th>
            <td></td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>


      <h5 class='font-weight-bold'>支払方法</h5>
    </div>
  </div>
</div>