<div class='container p-3'>
  <span class='bg-light ml-5'>マイページ</span>

  <div class='row mt-3'>
    <div class='col-md-12'>
      <table class='table table-bordered'>
        <thead class='table-active'>
          <tr>
            <th></th>
            

        </tbody>
      </table>
    </div>
  </div>
</div>