<div class="main">
  <p class="about">about</p>
  <div class="about-text-box">
    <h4>ながのCAKEは全国発送可能なケーキ屋さんです。<br>お⼦様からお年寄りの⽅までお召し上がりいただけるよう<br>様々なバリエーションをご⽤意しております。<br>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>ぜひご注⽂ください。<br>
  </div>
  <div class="about-image">
    <%= image_tag 'Cake3.jpeg' ,:size => '400x200' %>
  </div>
</div>



